.App {
  text-align: center;
}

.fullBody {
  background-image: "./images/sjsu_eats_background.jpg";
}

.btn {
  position: relative;
  height: 56px;
}

.btn input {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  appearance: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  box-shadow: 1px 6px 11px #000000;
}

.btn input:before,
.btn input::after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #111;
}

.btn input:before {
  content: "Delivery";
  left: 40px;
}

.btn input:after {
  content: "Pick up";
  right: 40px;
}

.btn label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}

.btn .btn-1 input {
  transition: 0.2s -0.1s;
}

.btn .btn-1 input:checked {
  background: #fff;
}

.btn.btn-1 input:checked:before {
  color: #111;
  transition: color 0.5s 0.2s;
}

.btn.btn-1 input:checked:after {
  color: #111;
  transition: color 0.5s;
}

.btn.btn-1 input:checked + label {
  left: 10px;
  right: 100px;
  background: grey;
  transition: left 0.5s, right 0.4s 0.2s;
}

.btn.btn-1 input:not(:checked) {
  background: grey;
  transition: background 0.5s -0.1s;
}

.btn.btn-1 input:not(:checked):before {
  color: #111;
  transition: color 0.5s;
}

.btn.btn-1 input:not(:checked):after {
  color: #1e1e1e;
  transition: color 0.5s 0.2s;
}

.btn.btn-1 input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: #fff;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}
