
.content { 
  // background-color: bisque;
  padding: 10px;
  height: 100vh;
  // float: right;
}

.sidebar {
  float: left;
  width: 15%;
}

.information {
  padding: 10px;
  float: right;
  width: 85%;
}