
.content { 
  padding: 10px;
  height: 90vh;
  padding-top: 20px;
}

.sidebarDiv{
  display: flex;
  height: 80vh;
  overflow:scroll initial;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sidebar {
  background-color: #2b6777;
  color: white;
  font-size: larger;
  border-radius: 10px;
}

.information {
  padding: 10px;
  float: right;
  width: 100%;
  border: solid red 10px;
}

.sideBarMenuItem {
  background-color: #2b6777;
  color: white;
  border: none;
  width: 100%;
}

.sideBarMenuItem:hover{
  background-color: #c8d8e4;
  color:#2b6777
}